version: 2
updates:
  - package-ecosystem: "github-actions"
    directories: 
      - "/"
      - "/tools/credential-scanning"
      - "/tools/sbom-aggregation"
    target-branch: "develop"
    schedule:
      interval: "weekly"
